<nz-table class="inner-content" #rowSelectionTable nzShowSizeChanger [nzData]="listOfData" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th
        nzLeft="left"
        [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th nzRight="right">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.name }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.address }}</td>
        <td><button nz-button nzType="default" (click)="startEdit(data.id)">编辑</button>
          <button nz-button nzType="default" nzDanger nz-popconfirm nzPopconfirmTitle="确定要删除吗?" (click)="delete(data.id)">删除</button>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.age" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.address" /></td>
        <td>
          <button nz-button nzType="default" (click)="saveEdit(data.id)" class="save">保存</button>
          <button nz-button nzType="default" nz-popconfirm nzPopconfirmTitle="确定取消编辑?" (nzOnConfirm)="cancelEdit(data.id)">取消编辑</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
