
.image img {
    /*实现图片自适应屏幕大小*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }
  
  
  .box{
    width: 400px;
    height:400px;
    background-color: rgba(41, 45, 62, 0.7);
    color: aliceblue;
    border-radius: 8px;
    padding: 50px;
    margin: -200px 0 0 -200px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .box h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
