<nz-layout class="app-layout">
  <!-- 左侧滑块 -->
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="../assets/image/layout.svg" alt="layout">
        <h1>XX管理系统</h1>
      </a>
    </div>

    <ul nz-menu nzMode="inline" nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen [nzTitle]="item.title" nzIcon="setting" *ngFor="let item of menus">
        <ul>
            <!-- <li nz-menu-item *ngFor="let itemChildren of item.children" >
             <a [routerLink]="itemChildren.link">{{itemChildren.title }}</a>  -->
            <li nz-menu-item *ngFor="let itemChildren of item.children" (click)="openTab(itemChildren)">
            <a nz-button  nzType="link" >{{itemChildren.title}}</a>
          </li>
        </ul>
      </li>
    </ul>

  </nz-sider>

  <nz-layout>
    <nz-header  nz-row>
      <div class="app-header bgColor" nz-col nzSpan="22">
        <span class="header-trigger"  (click)="isCollapsed = !isCollapsed">
            <i class="trigger"nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
      <div class="bgColor" nz-col nzSpan="2">
        <nz-avatar  nzSize="large"  [nzText]="(user!==null && user.account !== null) ? user.account:'匿' " class="avatar"></nz-avatar>
      </div>
    </nz-header> 


    <nz-tabset
        [(nzSelectedIndex)]="tabSelectedIndex"
        nzType="editable-card"
        nzHideAdd
        (nzClose)="closeTab($event)"
      >
        <nz-tab  *ngFor="let tab of homeTabs;let i = index" nzClosable  [nzTitle]="tab.title" (nzSelect)="tabSelect(tab)">
        </nz-tab>
    </nz-tabset>
    <router-outlet  class="main-content"></router-outlet>
    
  </nz-layout>
</nz-layout>
